:root {
  --bg-color: #f4f7fb;
  /* Màu nền sáng */
  --text-color: #333;
  /* Màu chữ sáng */
  --table-bg: white;
  /* Màu nền bảng */
  --table-header-bg: #007bff;
  /* Màu nền header */
  --table-header-text: white;
  /* Màu chữ header */
  --hover-bg: #f1f1f1;
  /* Màu hover dòng */
}

.dark {
  --bg-color: #333;
  /* Màu nền tối */
  --text-color: #f4f7fb;
  /* Màu chữ tối */
  --table-bg: #444;
  /* Màu nền bảng tối */
  --table-header-bg: #555;
  /* Màu nền header tối */
  --table-header-text: #f4f7fb;
  /* Màu chữ header tối */
  --hover-bg: #555;
  /* Màu hover dòng */
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: Arial, sans-serif;
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}